@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans;
  }
}

@layer components {
  /* Add custom component styles here */
}

@layer utilities {
  /* Add custom utility classes here */
}
